<?xml version="1.0" encoding="UTF-8"?>
<included>

    <include resource="common-include.xml"/>

    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

    <appender name="flatfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <springProfile name="uat">
        <root level="info">
            <appender-ref ref="console"/>
        </root>
        <logger name="cc.zhengcq.eagle" additivity="false" level="debug">
            <appender-ref ref="console"/>
            <!--<appender-ref ref="logstash"/>-->
            <!--<appender-ref ref="socket"/>-->
        </logger>

    </springProfile>



</included>