package ${package.Mapper};

import cc.zhengcq.eagle.core.db.annotation.MyBatisDao;
import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * <p>
 * Mapper接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@MyBatisDao
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}