package ${package.Entity};

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end
import java.io.Serializable;


import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
/**
 * <p>
 * ${table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@TableName("${table.name}")
@Data
#if(${superEntityClass})
public class ${entity} extends ${superEntityClass} {
#else
public class ${entity} implements Serializable {
#end

#foreach($field in ${table.fields})
	/**
	 * ${field.comment}
	 */
#if(${field.keyFlag} && ${field.convert})
#set($keyPropertyName=${field.propertyName})
	@TableId(value="${field.name}")
#elseif(${field.convert})
	@TableField(value="${field.name}")
#end
	@ApiModelProperty("${field.comment}")
	private ${field.propertyType} ${field.propertyName};
#end

#if(${entityColumnConstant})
#foreach($field in ${table.fields})
	public static final String ${field.name.toUpperCase()} = "${field.name}";

#end
#end
}
