<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.zhengcq.eagle.vendor.dao.VendorPoLineDao">

	<!-- 通用查询映射结果-->
	<resultMap id="BaseResultMap" type="cc.zhengcq.eagle.vendor.model.VendorPoLine">
		<id column="idx" property="idx" />
		<result column="po_idx" property="poIdx" />
		<result column="item_idx" property="itemIdx" />
		<result column="item_code" property="itemCode" />
		<result column="item_name" property="itemName" />
		<result column="item_desc" property="itemDesc" />
		<result column="item_brand" property="itemBrand" />
		<result column="item_barcode" property="itemBarcode" />
		<result column="item_spec" property="itemSpec" />
		<result column="item_origin" property="itemOrigin" />
		<result column="number_of_pieces" property="numberOfPieces" />
		<result column="item_category" property="itemCategory" />
		<result column="qty_of_purchase" property="qtyOfPurchase" />
		<result column="pur_price" property="purPrice" />
		<result column="amt" property="amt" />
		<result column="currency" property="currency" />
		<result column="available_stock" property="availableStock" />
		<result column="delivery_period" property="deliveryPeriod" />
		<result column="ship_method" property="shipMethod" />
		<result column="exchange_rate" property="exchangeRate" />
		<result column="supply_price" property="supplyPrice" />

		<result column="biz_status" property="bizStatus" />
		<result column="version" property="version" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="create_by_member_idx" property="createByMemberIdx" />
		<result column="update_time" property="updateTime" />
		<result column="update_by_member_idx" property="updateByMemberIdx" />
		<result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		idx,
        po_idx AS poIdx,
        item_idx AS itemIdx,
        item_code AS itemCode,
        item_name AS itemName,
        item_desc AS itemDesc,
        item_brand AS itemBrand,
        item_barcode AS itemBarcode,
        item_spec AS itemSpec,
        item_origin AS itemOrigin,
        number_of_pieces AS numberOfPieces,
        item_category AS itemCategory,
        qty_of_purchase AS qtyOfPurchase,
		pur_price AS purPrice,
		amt,
		currency,
		available_stock AS availableStock,
		delivery_period AS deliveryPeriod,
		ship_method AS shipMethod,
		exchange_rate AS exchangeRate,
		supply_price AS supplyPrice,
		biz_status AS bizStatus,
		version,
		status,
		remark,
		create_time AS createTime,
		create_by_member_idx AS createByMemberIdx,
		update_time AS updateTime,
		update_by_member_idx AS updateByMemberIdx
    </sql>



</mapper>
